{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block title %}ClubCloud{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet" media="screen">
    <link href="{% static "css/clubcloud.css" %}" rel="stylesheet" media="screen">

  </head>
  <body style="background: #303030;">
    <section class="content">
	{% block main-content %}
	{% endblock %}
	{% block footer %}
	<footer class="fixed_down">
	   <div class="row">
	      <nav class="col-md-12 col-xs-12">
		  <ul class="row col-md-12 col-xs-12">
		    <li class="col-md-3 col-xs-3"><a href="#">One</a></li>
		    <li class="col-md-3 col-xs-3"><a href="#">Two</a></li>
		    <li class="col-md-3 col-xs-3"><a href="#">Thee</a></li>
		    <li class="col-md-3 col-xs-3"><a href="#">Four</a></li>
		  </ul>
	      </nav>
	   </div>
	</footer>
	{% endblock %}
    </section>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="{% static "js/jquery.min.js" %}"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{% static "js/bootstrap.min.js" %}"></script>
    {% block extra_js %}{% endblock %}
  </body>
</html>
