{% extends "base.html" %}
{% block extra_style %}
{% endblock %}
{% block title %}Events for you{% endblock %}
{% block main-content %}

<ul class="events">
{% for event in events %}
<li class="event clearfix">
    <span class="clearfix artist_picture"><img class="image" src="{{ event.user_image_url }}" alt="artist-image"/></span>
    <div class="event_data">
      <p class="name"> {{ event.user_username|upper }}@{{  event.venue_name }}</p>
      <p class="location"><img class="small-icon" src="/static/icons/icons-28.png" alt="distance"/>{{ event.distance }} km</p>
      <p class="gender"><img class="small-icon" src="/static/icons/note-icon_small.png" alt="genre"/>{{ event.genre }} </p>
      <p>
       <span class="icon-container"><a href="listen/"><img class="icon-bar" src="/static/icons/icons-18.png" alt="listen"/></a></span>
       <span class="icon-container"><a href="atmosphere/"><img class="icon-bar" src="/static/icons/icons-21.png" alt="listen"/></a></span>
       <span class="icon-container"><a href="livefeed/"><img class="icon-bar" src="/static/icons/icons-24.png" alt="listen"/></a></span>
       <span class="icon-container"><a href="location/"><img class="icon-bar" src="/static/icons/icons-27.png" alt="listen"/></a></span>
      </p>
    </div>
</li>
{% endfor %}
{% endblock %}
{% block footer %}
{% endblock %}
