// Required by bootstrap
body { 
   padding-bottom: 70px; 
   background-color:  #303030;
}

footer nav {
   position: absolute;
   bottom: 0;
   width: 100%;
}

footer nav ul {
   list-style-type: none;
}

footer nav ul li {
   display: inline;
   width: 25%;
   text-align: center
}
